{% extends "base_generic.html" %}

{% block content %}
    <a href="{% url 'index' %}">Home</a>
    <br>
    <h1>Book Title: Off In The Weeds</h1>
    <br>
    <p><strong>Price:</strong>  $4.20</p>
    <p><strong>Release Date:</strong>  4/20/2020</p>
    <p><strong>Book ID:</strong>  314159265</p>
    <p><strong>ISBN 13:</strong>  444-4444-44444-444444-4</p>
    <p><strong>Subtitle:</strong>  N/A</p>
    <p><strong>Series Name:</strong>  The Harbert Experience</p>
    <p><strong>Volume Number:</strong>  1</p>
    <p><strong>Format:</strong>  Print</p>
    <p><strong>List of Authors:</strong> (list)</p>
    <ul>
        <li>
        <p>Author</p>
        </li>
    </ul>

    <p><strong>Book Description:</strong></p> 
    <p>description</p>
{% endblock %}