{% extends "base_generic.html" %}

{% block content %}
<div class ="search">
    <form action = "{% url 'search' %}" method ="GET">
        <input name="q" type="text" placeholder="Search...">
    </form>
</div> 
<h3>Search Results for "{{ qu }}"</h3>
<div class="pagination">
    {% if page_obj.has_other_pages %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?q={{ qu }}&page={{ page_obj.previous_page_number }}">Previous</a>&nbsp;&nbsp;&nbsp;</span>
            </li>
        {% endif %}
            <li class="">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>
        {% if page_obj.has_next %}
            <li>
                <span>&nbsp;&nbsp;&nbsp;<a href="?q={{ qu }}&page={{ page_obj.next_page_number }}">Next</a></span>
            </li>
        {% endif %}
        </ul>
    {% endif %}
</div>
<br>
<div id ="line"></div>
{% if page_obj %}
  {% for book in page_obj %}
    <a class="noColor" href = "{% url 'view_book_detail' book.book_id %}">
        <div id = "entry">
            <br>
            <b>{{ book.title }}</b><br>
            <h6>{{ book.subtitle }}</h6>
            {% for a in book.get_authors %}
                <i>{{ a.given_name }} {{ a.surname }}</i><br>
            {% endfor %}
            {% autoescape off %}
            <p>Summary: {{ book.description }}</p>
            {% endautoescape %}
            <div class="spread">
                <span>ISBN: {{ book.isbn_13 }}</span>
                <span>Series: {{ book.series_name }}</span>
                <span>Volume: {{ book.volume_no }}</span>
            </div>
            <div class="spread">
                <span>Release Date: {{ book.release_date }}</span>
                <span>Price: {{ book.price }}</span>
                <span>Book Format: {{ book.book_format }}</span>
            </div>
            <br>
            <div id ="line"></div>
        </div>
    </a>
    {% endfor %}

    {% if page_obj.has_other_pages %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?q={{ qu }}&page={{ page_obj.previous_page_number }}">Previous---</a></span>
            </li>
        {% endif %}
            <li class="">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>
        {% if page_obj.has_next %}
            <li>
                <span><a href="?q={{ qu }}&page={{ page_obj.next_page_number }}">---Next</a></span>
            </li>
        {% endif %}
        </ul>
    {% endif %}
{% else %}
    <p>No results found</p>
{% endif %}
<br>
{% endblock %}